:root {
  --label-color: #8181a5;
  --primary-color: #fb9400;
}

.fs-sm {
  font-size: 0.875rem;
}

.fs-reg {
  font-size: 1rem;
}
// p//
.fs-md {
  font-size: 1.143rem;
}

.c-label {
  color: var(--label-color);
}

.c-primary {
  color: var(--primary-color);
}

.c-black {
  color: #000;
}

.c-white {
  color: #fff;
}

.place-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.d-flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.justify-sb {
  justify-content: space-between;
}

.justify-fs {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.cu-pointer {
  cursor: pointer;
}
